@import url("https://use.typekit.net/wkb3apy.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-header: english, sans-serif;
  font-weight: 400;

  --font-subhead: tiller, sans-serif;
  font-weight: 400;
  font-style: normal;
  --light-colour: rgb(255, 249, 230, 100%);
  --outside-shadow: 0px 4px 8px 2px rgb(0 0 0 / 16%);
  --inside-shadow: inset 0px 2px 6px 2px rgb(0 0 0 / 16%);
  --light-text-clour: #e6e1e1;
  --dark-text-colour: rgb(3, 29, 44, 100%);
}

body {
  position: relative;
  padding: 1.5rem;
  background-image: url("images/paper2.png"), linear-gradient(rgb(284, 244, 233, 100%), rgb(224, 215, 189, 100%));
}

main {
  padding: 4rem 1rem;
}

ul {
  padding: 1rem;
  list-style: none;
}

h1 {
  font-family: var(--font-header);
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--dark-text-colour);
}

h2 {
  font-family: var(--font-subhead);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2rem;
  color: var(--dark-text-colour);
}

h3 {
  font-family: var(--font-subhead);
  font-size: 1rem;
  font-weight: 100;
  color: var(--dark-text-colour);
}

h4 {
  font-family: var(--font-header);
  font-size: 1.5rem;
  color: var(--dark-text-colour);
}

h5 {
  font-family: var(--font-header);
  font-size: 2rem;
  text-transform: uppercase;
}

li {
  font-family: var(--font-subhead);
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark-text-colour);
}

header {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: start;
  gap: 2rem;
  background-color: var(--light-colour);
  box-shadow: var(--outside-shadow);
}
.search-bar {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.search-bar input {
  background-color: var(--light-colour);
  box-shadow: var(--inside-shadow);
  border: 0;
  height: 2rem;
}

#infoWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: baseline;
  justify-content: space-between;
}

#about {
  padding: 0;
  padding: 1rem;
  background-color: var(--light-colour);
  box-shadow: var(--inside-shadow);
}

.filter-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 68%;
}

.filter-buttons h3 {
  grid-column-start: span 4;
  align-self: end;
}

.students-filters {
  grid-column-start: span 2;
  display: flex;
  gap: 0.5rem;
}

.houses-filters {
  display: flex;
  column-span: 4;
  grid-column-start: span 4;
  gap: 0.5rem;
}

.houses-filters button {
  font-size: 1rem;
}

.students-filters button {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.filter-buttons [data-filter="enrolled"] {
  grid-column-start: span 2;
}

.filter-buttons [data-filter="expelled"] {
  grid-column-start: span 2;
}

.filter-buttons button {
  padding: 0.5rem;
  width: 100%;
  background-color: #fff9e6;
  border: 0;
  border-radius: 5px;
  font-family: var(--font-header);
  box-shadow: var(--outside-shadow);
}

.filter-buttons button:hover {
  transform: scale(102%);
}

.filter-buttons button:active {
  background-color: #0f314b;
  color: var(--light-text-clour);
}

.filter-buttons button:focus {
  background-color: #0f314b;
  color: var(--light-text-clour);
}

#list {
  width: 100%;
  padding-top: 2rem;
}

/*table header*/
#sorting th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
  /* background-color: rgb(231, 225, 237, 100%); */
  background-image: linear-gradient(rgb(20, 92, 136, 91%), rgb(15, 49, 75, 100%));
}

/*names list*/
#hogwartsData td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: black solid 0.5px;
}

/*prefect list*/
#hogwartsData td:first-child {
  text-align: center;
  font-size: 1.5rem;
}

#hogwartsData td:first-child:hover {
  cursor: pointer;
}

#hogwartsData #prefectCheck {
  cursor: pointer;
}

#hogwartsData [data-field="prefect"]:hover {
  background-color: rgb(235, 250, 183, 100%);
}

#hogwartsData tr.student-list:nth-of-type(even) {
  background-color: rgb(228, 220, 234, 50%);
}

#hogwartsData tr.student-list:hover {
  background-color: rgb(220, 200, 239, 91%);
  cursor: pointer;
}

#hogwartsData tr.student-list.expelled-student {
  background-color: rgb(239, 59, 15, 70%);
}

p,
li,
td {
  font-family: var(--font-subhead);
}

th {
  font-family: var(--font-header);
  text-transform: uppercase;
  font-weight: 900;
  color: var(--light-text-clour);
  font-size: 1rem;
}

span {
  font-weight: 800;
}

.student-pop {
  display: none;
}

.student-pop.show {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(23, 67, 88, 0.5);
}

.student-pop .message {
  display: grid;
  grid-template-columns: 40% 1fr;
  flex-direction: column;
  gap: 0.5rem;
  /* background-color: azure; */
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  border: 1px solid black;
  max-width: 500px;
}

.student-pop .message.ravenclaw {
  background-color: rgb(220, 228, 237, 100%);
}

.student-pop .message.gryffindor {
  background-color: rgb(255, 253, 193, 100%);
}

.student-pop .message.slytherin {
  background-color: rgb(197, 237, 191, 100%);
}

.student-pop .message.hufflepuff {
  background-color: rgb(252, 194, 115, 100%);
}

.student-pop img {
  width: 75%;
  justify-self: center;
}

.house-heading {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  grid-column: span 2;
}

.house-heading img {
  width: 10%;
}

.house-heading h5 {
  align-self: center;
}

.student-pop .expelled-warning {
  display: none;
}

.expelled-warning.show {
  display: inline;
}

.student-pop .expell-button {
  grid-column: span 2;
  font-family: var(--font-header);
  text-transform: uppercase;
  padding: 1rem 0;
  margin: 0 1rem;
  font-size: 2rem;
}

.student-pop .inquisitor-button {
  height: 64%;
  justify-self: center;
  align-self: center;
  font-family: var(--font-header);
  text-transform: uppercase;
  margin: 0 1rem;
}

.hide {
  display: none;
}

.student-pop h2 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.student-pop .message ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.student-pop .close {
  position: absolute;
  left: 82%;
  top: 2%;
  padding: 1rem;
}

#onlyTwoPrefects .close-button {
  position: absolute;
  left: 89%;
  top: 5%;
  padding: 1.5rem;
}

.message h1 {
  text-decoration: none;
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "↑";
}
#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "↓";
}

.warning {
  display: none;
}

.warning.show {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(23, 67, 88, 0.5);
}

.warning .message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: azure;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 4rem 3rem;
  border: 1px solid black;
  width: 75%;
}

/*YOU'VE BEEN HACKED*/

body.hacked {
  background-color: deeppink;
}
