* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding: 2rem;
}

main,
header,
ul {
  padding: 1rem;
  list-style: none;
}

.filter-buttons {
  display: grid;
  grid-template: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 1.5rem;
  width: 59%;
}

.filter-buttons p {
  grid-column-start: span 4;
}

.filter-buttons [data-filter="enrolled"] {
  grid-column-start: span 2;
}

.filter-buttons [data-filter="expelled"] {
  grid-column-start: span 2;
}

.filter-buttons .enrolled-expelled button {
  width: 100%;
}

.filter-buttons button {
  padding: 0.5rem;
  width: 100%;
}

#list {
  width: 100%;
  padding-top: 2rem;
}

#sorting th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
  background-color: rgb(231, 225, 237, 100%);
}

#hogwartsData td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: black solid 0.5px;
}

#hogwartsData td:first-child {
  text-align: center;
}

#hogwartsData tr.student-list:nth-of-type(even) {
  background-color: rgb(228, 220, 234, 50%);
}

#hogwartsData tr.student-list:hover {
  background-color: rgb(220, 200, 239, 91%);
}

h1,
p,
li,
button,
th,
td {
  font-family: Helvetica, Arial, sans-serif;
}

span {
  font-weight: 800;
}
/* #hogwartsData {
  display: flex;
  flex-wrap: wrap;
}

.student-list ul {
  list-style: none;
  border: black 1px solid;
  width: 300px;
} */

.student-pop {
  display: none;
}

.student-pop.show {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(23, 67, 88, 0.5);
}

.student-pop .message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: azure;
  position: fixed;
  top: 30%;

  left: 0;
  right: 0;
  margin: auto;

  border: 1px solid black;
  width: 300px;
}

.student-pop .message ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.student-pop .close {
  position: absolute;
  left: 85%;
  top: 5%;
  padding: 0.5rem;
}

#sorting th.sortby {
  text-decoration: underline;
}
