* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

main,
header,
ul {
  padding: 1rem;
  list-style: none;
}

/* #hogwartsData {
  display: flex;
  flex-wrap: wrap;
}

.student-list ul {
  list-style: none;
  border: black 1px solid;
  width: 300px;
} */

.student-pop {
  display: none;
}

.student-pop.show {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(23, 67, 88, 0.5);
}

.student-pop .message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: azure;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border: 1px solid black;
  width: 300px;
}

.student-pop .message ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.student-pop .close {
  position: absolute;
  left: 85%;
  top: 5%;
  padding: 0.5rem;
}
